<div class="header">

    <h2 style="text-align: right;">DMYTRO<br>NIKOLAEV</h2>
    <img style="float: right; padding: 20px;" src="assets/badge-001.png" width="100" height="100" alt="">
    <h2 style="text-align: left;">PIXELART<br>PORTFOLIO</h2>


</div>

<div class="container ">
  <ng-container *ngFor="let item of portfolioItems;">
    <app-item class="" [srcLink]="item.srcLink" [resize]="item.resize" [width]="item.width" [height]="item.height"
              [type]="item.type"></app-item>
  </ng-container>
</div>
